.background {
  position: relative;
  background-image: url("/images/back.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  .background {
    background-size: contain;
    background-repeat: repeat-y;
  }
}
