@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
}

html,
body {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px; /* Set width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set background color of scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Set color of scrollbar thumb */
  border-radius: 2px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #757575; /* Set color of thumb on hover */
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.navbar {
  background-color: #ffffff; /* fallback for browsers that don't support gradients */
  background-image: linear-gradient(
    to bottom,
    #87ceeb,
    #ffffff
  ); /* sky blue to white gradient */
}

.navline {
  border-bottom: 1px solid black;
}

.login-with-google-btn {
  display: flex;
  justify-content: center;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* .blurred-bg {
  position: fixed;
  inset: 0px;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
} */

.appearance {
  background-color: rgb(221 221 221 / 80%) !important;
  padding: 1px 16px 1px;
}
.appearancepic {
  background-color: rgb(221 221 221 / 10%) !important;
}

.Output {
  margin: 0px auto;
  height: 100%;
  width: 100%;
  max-width: 680px;
}
.Links-container {
  z-index: 0;
  overflow: hidden;
  margin-bottom: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
  box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  border-radius: 4px;
}

.Links-container-bottom {
  z-index: 0;
  overflow: hidden;
  margin-top: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
  box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  border-radius: 29px;
  width: 24%;
}

.Link-item-bottom {
  hyphens: auto;
  white-space: normal;
  background: none;
  color: inherit;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  overflow-wrap: break-word;
  word-break: break-word;
}

.Link-item1-bottom {
  margin: 0px;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
  background: none;
  text-decoration: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: auto;
  position: relative;
  padding: 7px 15px;
  width: 100%;
  appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
}

.Link-item {
  hyphens: auto;
  white-space: normal;
  background: none;
  color: inherit;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-left: 44px;
  padding-right: 44px;
}

.Link-item1 {
  margin: 0px;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
  background: none;
  text-decoration: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: auto;
  position: relative;
  padding: 16px 20px;
  width: 100%;
  appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
}

.Links-container:hover {
  transform: scale(1.03); /* You can adjust the scale factor as needed */
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.color {
  background-color: #b6e3ff !important;
}

.red {
  background-color: red;
}

.blue {
  background-color: rgb(59, 130, 246, 1);
}

@media screen and (max-width: 768px) {
  .apply {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* EditLink */
  .apply-form {
    width: 92%;
  }
  .label-edit {
    margin-bottom: 13px;
  }
  .url {
    margin-left: 23px;
  }
  .remove {
    width: 52%;
    margin-left: 60px;
    background-color: rgb(236, 94, 94);
  }
  .Links-container-bottom {
    width: 86%;
  }
}
